<ion-modal-view>
    <ion-header-bar>
        <button class="button button-icon button-clear ion-android-close" ng-click="createEventModalClose()">
        </button>
        <h3 class="title">{{newEventDate}}</h3>
    </ion-header-bar>

    <ion-content>
        <form id="topic-form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Patient Name</span>
                    <input type="text" placeholder="John Doe" ng-model="newEvent.title">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Motive</span>
                    <select>
                        <option>Revision</option>
                        <option>Aesthetic</option>
                        <option>Implantology</option>
                        <option>Endodontics</option>
                        <option>Prosthesis</option>
                        <option>Orthodontics</option>
                        <option>Periodontology</option>
                        <option>Surgery</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Observations</span>
                    <input type="text" placeholder="Patient needs a revision.." ng-model="newEvent.description">
                </label>
            </div>
        </form>
    </ion-content>
    <div class="bar bar-footer bar-calm" ng-click="addEvent()">
        <div class="title"><i class="icon ion-checkmark"></i></div>
    </div>
</ion-modal-view>