<ion-modal-view view-title="Dashboard" style="background-color: #368dc5;">
    <ion-header-bar>
        <button class="button button-icon button-clear ion-android-close" ng-click="closeDatePicker()">
        </button>
        <h3 class="title">{{newEventDate}}</h3>
    </ion-header-bar>
    
    <div class="calendar-nav">
        
        <div class="calendar-nav-date">
            <h1>{{viewTitle.date()}}</h1>
            <h2>{{viewTitle.locale('en').format('dddd')}}</h2>
        </div>
        
        <div class="btn-group">
            <button decrement="calendarView" date="calendarDay" mwl-date-modifier="" class="nav-button left ng-isolate-scope">
                <i class="ion-chevron-left"></i>
            </button>
            <!--<button set-to-today="" date="calendarDay" mwl-date-modifier="" class="btn btn-default ng-isolate-scope">
                Today
            </button>-->
            <button increment="calendarView" date="calendarDay" mwl-date-modifier="" class="nav-button right ng-isolate-scope">
                <i class="ion-chevron-right"></i>
            </button>
        </div>
    </div>
    
    
</ion-modal-view>