@font-face {
    font-family: AvenirLTStd;
    src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
    font-family: AvenirLTStdLight;
    src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

body{
    color:#1d1d26;
    font-family:'AvenirLTStd', georgia, serif;
}

/*@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("path-to-the-font-file/GraublauWebBold.otf") format("opentype");
}*/

/* CUSTOM */
.bar {
    background-size: 100% 0px;
}
.calendar-nav{
    position: relative;
    height: 145px;
}
.calendar-nav-date{
    width: 180px;
    position: absolute;
    top: 4em;
    left: 50%;
    margin-left: -90px;
    text-align: center;
}
.calendar-nav-date h1,.calendar-nav-date h2{
    color: #fff;
    font-family:'AvenirLTStdLight', georgia, serif;
}
.calendar-nav-date h1{
    font-size: 5em;
    margin-bottom: 0;
}
.calendar-nav-date h2{
    margin: 0;
    font-size: 1.5em;
}
.calendar-nav .nav-button{
    height: 5em;
    background: none;
    position: absolute;
    top: 2.5em;
    border: none;
    color: white;
    font-size: 22px;
    width: 70px;
}
.calendar-nav .nav-button.right{
    right: 0px;
}
.calendar-nav .nav-button.left{
    left: 0px;
}
